#navbar-logo {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    background: #C14953;
    padding: 10px;
    box-sizing: border-box;
}

#navbar-logo::after {
    content: '';
    background: inherit;
    height: 100%;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 0;
    left: 100%;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}